.conteiner {
height: 500px;
width: 100%;
}
.titulo1 {
margin-left: 27%;
}
.describir{
margin-left: 32%;
}

.informacion{
margin-left: 20px;
margin-top: 5%;

}

.gracias{
margin-left: 20px;


}


















