.conteiner {
height: 500px;
width: 900px;

}
.titulo1 {
color: black;
font-size: 20px;
margin-left: 50%;
}


.describir{
margin-left: 43%;

}

.informacion{
margin-top:5%;
font-style: oblique;
}

.gracias{

}

.direccion{
margin-left: 120px;
margin-top: -30px;

}

.direccion2{
margin-top: -20px;
font-style: oblique;
}
.tell{
margin-left: 110px;
margin-top: -33px;
font-style: oblique;
}

.contenedorFor{
margin-left: 50%;
width: 49%;
height:379px ;
font-style: oblique;
margin-top: -300px;

}
.nombre{
    

}

.direccion{

    
}
.telefono{

    
}

.mensaje{
margin-top: 100px;
    
}

.text{
    font-style: oblique;


}




