

.videoR{
margin-top: 2%;
width:100%;
height: 600px;


}

.titulo1{
    margin-top: 60px;
font-size: 50px;
color: aliceblue;
width: 270px;
margin-left: 90px;
}



.titulo2{
margin-left: 70px;
font-size: 70px;
font-style: oblique;
color: aliceblue;
margin-top: 40px;
}

.videoTag{

width: 100%; 
height: 540px;
object-fit: cover;

}

#conteiner1{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    margin-left: 80px;
    margin-top: -40%;
    margin-left: 35%
}

.titulo3{
margin-top: 300px;
text-align: center;  
font-style: oblique;
background-color:#ebebeb ;

}

.imgRolex{
margin-left: 150px;
margin-top: 20px;
margin-bottom: 0px;

}

#btnss{
    margin-right: 30px;
}

.StyleLogin{
color: aqua;

}


#navLogin{
border: 2px solid black;


}


#navContacto{
margin-left: 10px;
margin-top: 8px;


}

#navadmi{
margin-left: 20px;
margin-top: 8px;

}

.contenedorAbuelo {
    display: flex;
    flex-wrap: wrap;
}

.contenedorPadre {
    width: 250px;
    height: 330px;
    padding: 0.5%;
    border: solid 1px black;
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}

#imgProducto {
    width: 236px;
    height: 160px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}#imgProducto:hover {
    width: 246px;
    height: 170px;
    margin-left: -5.2px;
    margin-top: 1px;
}

#sep {
    height: 170px;
}

#nombreProducto {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 500;
    color: rgb(15, 70, 9);
    font-weight: 600;
    margin-left: 10%;

}

#descripcionProducto {
    margin-top: 6%;
    color: rgba(0, 0, 0, 0.682);
    font-size: 14px;
    margin-left: 4%;
}

#precioProducto {
    margin-top: 6%;
    text-align: end;
    color: rgb(38, 138, 26);
    font-size: 20px;
}
.contenedorAbuelo{

 
    background-color:#ebebeb ;
}