#containerLogin {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 86%;
    margin-left: 7%;
    min-height: 500px;
    max-height: 500px;
    margin-top: 8%;
    font-family: 'Times New Roman', Times, serif, verdana;
    background-color: #135c3b;
    border-radius: 7px;
}#containerLogin:hover {
    #imgLogin {
        transform: scale(1.2);
    }
}


#contenedorLoginLeft{
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    border-radius: 7px 0 0 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contenedorLoginLeft > input {
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

#contenedorLoginLeft > label {
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.776);
    font-size: 30px;
}

#contenedorLoginLeft > button {
    background-color: white;
    height: 100px;
    width: 140px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#contenedorLoginRight {
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    border-radius: 0 10px 10px 0;
    background-color: #114e34;
}

#imgLogin {
    width: 100%;
    height: 100%;
    margin-left: 1%;
    margin-top: -8%;
    transition: 1s ease-in-out;
}

#tituloLogin{
    text-align: center;
    color: white;
    font-size: 40px;
}

#usuario{
font-size: 25px;
font-style: oblique;
margin-top: 20px;
margin-left: 5px;
}

#inputUsuario{
font-size: 17px;
width: 70%;
margin-left: 5px;
border-radius: 10px;
}


#contrasena{
    font-size: 25px;
    font-style: oblique;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 5px;
}

#inputContrasena{
    font-size: 17px;
    width: 70%;
margin-left: 5px;
    margin-top: 20px;
    border-radius: 10px;
}



#btnLogin{
margin-left: 33%;
margin-top: 50px;
width: 120px;
border-radius: 5px;


}


#btn{
border: none;
background-color: transparent;
margin-top: 40px;

}


    

.contenedorNav{
    display: flex;
margin-top: 30px;
    
}

#contenedorLoginLeft {
    width: 100%;
}









